<!DOCTYPE html>

<html class="no-touch"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Магазин оптики</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<link href="images/owico.PNG" rel="icon" type="image/png">

<link rel="stylesheet" type="text/css" href="styles/styles.css">

<script src="scripts/scripts.js"></script>

</head>

<body>
	<header>
		<div class="header">
			<a class="logo" href="index">
				<img src="images/ow.PNG" width="127" height="126">
			</a>
			<div class="navigation">
            <a href="index">ГЛАВНАЯ</a>
            <a href="diop">ОЧКИ С ДИОПТИРЯМИ</a>
            <a href="sunsafe">СОЛЦНЕЗАЩИТНЫЕ ОЧКИ</a>
            <a href="sale">РАСПРОДАЖА</a>
            <a href="information">ИНФОРМАЦИЯ</a>
        </div>
    </div>
    </header>

<div>
    <ul class="grid">
        <li class="products">
            
            <div class="unit">
                <div class="product-photo">
                <img src="images/rayban1.jpg" alt="">
                </div>
                <p>Ray-Ban RB 34</p>
            </a>
        </li>
        <li class="products">
            
            <div class="unit">
                <div class="product-photo">
                <img src="images/rayban2.jpg" alt="">
                </div>
                <p>Ray-Ban RB 35</p>
            </a>
        </li>
        <li class="products">
            
            <div class="unit">
                <div class="product-photo">
                <img src="images/vogue2.jpg" alt="">
                </div>
                <p>Vogue VO 539</p>
            </a>
        </li>
        <li class="products">
            
            <div class="unit">
                <div class="product-photo">
                <img src="images/vogue1.jpg" alt="">
                </div>
                <p>Vogue VO 535</p>
            </a>
        </li>
    </ul>
</div>
<hr>
    <footer>
        <div class="name">
            OPTICWORLD
        </div>
        <div class="me">Optic World — магазин брендовых очков <br> с 2011 года.<br> ТОВАРЫ ОПТИКИ НА ЛЮБОЙ ВКУС!</div>
    </footer>
</body>