<!DOCTYPE html>

<html class="no-touch" xmlns:height="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Магазин оптики</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<link href="images/owico.PNG" rel="icon" type="image/png">

<link rel="stylesheet" type="text/css" href="styles/styles.css">

<script src="scripts/scripts.js"></script>

</head>

<body>
	<header>
		<div class="header">
			<a class="logo" href="index">
				<img src="images/ow.PNG" width="127" height="126">
            </a>
            <nav>
                <div class="navigation">
                    <a href="index">ГЛАВНАЯ</a>
                    <a href="diop">ОЧКИ С ДИОПТИРЯМИ</a>
                    <a href="sunsafe">СОЛЦНЕЗАЩИТНЫЕ ОЧКИ</a>
                    <a href="sale">РАСПРОДАЖА</a>
                    <a href="information">ИНФОРМАЦИЯ</a>
            </div>
            </nav>
    </div>
    </header>
    
    <div class="slider">
            <div class="slider_item">
                <img class="img-s" src="images/beautiglass2.jpg" height 150px>
        </div>
    </div>

    <div class="features">
        <div class="feature3">
            <img src="images/treatment.png" height="150" width="150">
            <div class="features-header">
       	 	Излечивайся
            </div>
        </div>
        <div class="feature1">
            <img src="images/best.png" height="150" width="150">
            <div class="features-header">
                Стань лучше
            </div>
        </div>

        <div class="feature2">
            <img src="images/beard.png" height="150" width="150">
            <div class="features-header">
                Будь стильнее
            </div>
        </div>
    </div> <hr>
    <footer>
        <div class="name">
            OPTICWORLD
        </div>
        <div class="me">Optic World — магазин брендовых очков <br> с 2011 года.<br> ТОВАРЫ ОПТИКИ НА ЛЮБОЙ ВКУС!</div>
    </footer>
</body>