<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Магазин оптики</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="images/owico.PNG" rel="icon" type="image/png">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <script src="https://kit.fontawesome.com/beb6f9a828.js" crossorigin="anonymous"></script>
</head>

<body>
<header>
    <div class="header">
        <a class="logo" href="index">
            <img src="images/ow.PNG" width="127" height="126">
        </a>
        <div class="navigation">
            <a href="index">ГЛАВНАЯ</a>
            <a href="diop">ОЧКИ С ДИОПТИРЯМИ</a>
            <a href="sunsafe">СОЛЦНЕЗАЩИТНЫЕ ОЧКИ</a>
            <a href="sale">РАСПРОДАЖА</a>
            <a href="information">ИНФОРМАЦИЯ</a>
        </div>
    </div>
</header>

<div class="container2">
    <div style="text-align:center">
        <h2>Авторизация</h2>
        <br>
        <p th:if="${loginError}" class="error">Неверный логин или пароль</p>

    </div>
    <div class="row">
        <div class="column2">
            <form th:action="@{login}" method="POST">
                <div th:if="${param.error}">
                    <div class="alert alert-danger" style="color: darkred">
                        Неверный логин или пароль
                    </div>
                </div>
                <br>
                <label for="username">Логин</label>
                <input type="text" id="username" name="username" placeholder="Введите логин">

                <label for="pswd">Пароль</label>
                <input type="password" id="pswd" name="password" placeholder="Введите пароль">

                <input type="submit" value="Войти">
            </form>
            <br>
            <form th:action="@{registration}" method="GET">
                <input type="submit" value="Зарегистрироваться" style="background-color: gray;">
            </form>
        </div>
    </div>

    <footer>
        <div class="name">
            OPTICWORLD
        </div>
        <div class="me">Optic World — магазин брендовых очков <br> с 2011 года.<br> ТОВАРЫ ОПТИКИ НА ЛЮБОЙ ВКУС!</div>
    </footer>
</body>