<!DOCTYPE html>

<html class="no-touch"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Магазин оптики</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<link href="images/owico.PNG" rel="icon" type="image/png">

<link rel="stylesheet" type="text/css" href="styles/styles.css">

<script src="scripts/scripts.js"></script>

</head>

<body>
<header>
    <div class="header">
        <a class="logo" href="index">
            <img src="images/ow.PNG" width="127" height="126">
        </a>
        <div class="navigation">
            <a href="index">ГЛАВНАЯ</a>
            <a href="diop">ОЧКИ С ДИОПТИРЯМИ</a>
            <a href="sunsafe">СОЛЦНЕЗАЩИТНЫЕ ОЧКИ</a>
            <a href="sale">РАСПРОДАЖА</a>
            <a href="information">ИНФОРМАЦИЯ</a>
        </div>
    </div>
</header>

<div>
    <ul class="grid">
        <li class="products">
            
            <div class="unit">
                <div class="product-photo">
                    <img src="images/sale1.jpg" alt="">
                </div>
                <p>Ray-Ban RJ</p>
            </div>
        </li>
        <li class="products">
            <div class="unit">
                <div class="product-photo">
                <img src="images/sale2.jpg" alt="">
                </div>
                <p>Ray-Ban Icons RB</p>
            </div>
        </li>
        <li class="products">
            
            <div class="unit">
                <div class="product-photo">
                <img src="images/sale3.jpg" alt="">
                </div>
                <p>Armani Exchange AX</p>
            </div>
        </li>
        <li class="products">
            
            <div class="unit">
                <div class="product-photo">
                <img src="images/sale4.jpg" alt="">
                </div>
                <p>Ray-Ban I-SHAPE RB</p>
            </div>
        </li>
    </ul>
</div>
<hr>
<footer>
    <div class="name">
        OPTICWORLD
    </div>
    <div class="me">Optic World — магазин брендовых очков <br> с 2011 года.<br> ТОВАРЫ ОПТИКИ НА ЛЮБОЙ ВКУС!</div>
</footer>
</body>